ttc.ctln.pw {
	encode gzip

	@static path /*.js /*.css /*.json /*.png /*.ico /*.txt /fonts/* /sounds/* /docs/protocol.md
	handle @static {
		header Cache-Control "no-cache"
		root * /srv/static
		file_server
	}

	handle {
		reverse_proxy web:8080
	}
}
